/*Css Reset Code*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* navabar part start */
.style_nav {
    background-color: transparent;
    border: 0px solid;
}

.style_nav .style_brand {
    padding-top: 25px;
}
.navbar-default .navbar-nav > li > a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background-color: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-bottom: 1px solid transparent;
    color: rgb(0, 0, 0)!important;
    font-family: NunitoSans-Regular, AdobeInvisFont, Tahoma;
    font-weight: 600;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    r-bottom: 2px solid #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    color: #000;
    transition: ease 0.5s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: rgb(26, 149, 231) !important;
    transition: ease 0.5s;
}

.navbar-default .navbar-nav > li > a:hover:before,
.navbar-default .navbar-nav > li > a:focus:before,
.navbar-default .navbar-nav > li > a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: ease 0.5s;
}
.nav.navbar-nav.pull-right {
    margin-top: 2%;
}
.affix {
    width: 100%;
    transition: ease 0.5s;
    background: rgb(255, 255, 255) !important;
    border-bottom: 2px solid #232325 !important;
}

.navbar-default.affix .navbar-nav > li > a {
    color: #333;
}
.navbar-default {
    background: transparent;
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-brand{
    font-size: 25px;
}
.navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 15px;
}
/* navbar part end */


/* banner part start */
.banner{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    padding: 15% 0 15% 0;
    margin-left: -15px;
    margin-right: -15px;
}
.banner .item a{

    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 255);
    background-color: #10C9C3;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
}
.banner .item a:hover{
    background: rgb(9, 180, 175);

}
.banner .item h1{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 2.5em;
    color: rgba(29, 29, 29, 255);
    font-weight: bold;
}
.banner .item p{
    font-family: NunitoSans-Regular, AdobeInvisFont, Tahoma;
    font-size: 1.2em;
    color: #09f1d1;
}
.banner .item{
    position: relative;
}
.banner .button{
    position: absolute;
    top: 160px;
    left: 25%;
}

/* banner part end */

/*About part Start */
.about h3{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 2.6em;
    color: rgba(25, 25, 25, 255);

    
}
.about{
    padding: 8% 0 0 0;
}
.about p{
    font-family: WorkSans-Regular, NunitoSans-Regular, AdobeInvisFont, Tahoma;
    font-size: 1.2em;
    color: rgba(120, 120, 120, 255);
}
.about img{
    padding-top: 3%;
    margin: 0 auto;
}


/*Skill Part Start*/
.skills h3{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 2.5em;
    color: rgba(23, 23, 23, 255);
    font-weight: bold;
    margin-top: 0;
        
}
.skills{
    padding: 12% 0 0 0;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: #eee;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #10C9C3;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #323232;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    padding-bottom: 3%;
    
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: #323232;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.wrapper {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-25%) translateY(-50%);
}


/*Portfolio Part Start*/

.portfolio{
    background-color: rgb(10, 235, 216);
    margin: 8% 0 0 0;
    padding: 8% 0 8% 0;
}

.portfolio h4{
    font-size: 1.4em;
    font-weight: 600;
    font-family: Montserrat , 'Arial Narrow Bold', sans-serif;
    color: #ffffff;

}

.portfolio p{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
.portfolio i{
    font-size: 3em;
    color: #ffffff;
}
.project{
    position: relative;
}
.project .item{
    position: absolute;
    left: 25%;
    top: 0;
}

.working{
    position: relative;
}
.working .item{
    position: absolute;
    left: 25%;
    top: 0;
}

.feedbacks{
    position: relative;
}
.feedbacks .item{
    position: absolute;
    left: 25%;
    top: 0;
}

.clients{
    position: relative;
}
.clients .item{
    position: absolute;
    left: 25%;
    top: 0;
}


/*Work Section Start*/

.work img{
    margin-right: 30px;
}
.work .button a{
    font-size: 1.2em;
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    color: #323232;
    text-decoration: none;    
}
.work .button{
    background: #e6e0e0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 0 20px 0;
    text-align: center;
}
.work .button a:hover{
    color: #10C9C3;
}


/*Working-Process Part Start*/
.working-process{
    padding: 8% 0 0 0;
}

.working-process h1{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 2.5em;
    color: rgba(25, 25, 25, 255);
    text-align: center;
}
.working-process p{
    font-family: NunitoSans-Regular, AdobeInvisFont, Tahoma;
    font-size: 1em;;
    color: rgba(120, 120, 120, 255);
    text-align: center;
    padding-top: 10px;
}

.working-process iframe{
    padding-top: 30px;
    padding-left: 10%;
}


/*Service Part Start*/

.service{
    padding: 5% 0 5% 0;
    background: rgb(238, 237, 237);
}
.service .item h4{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma, MyriadPro-Regular;
    font-size: 12px;
    color: rgba(25, 25, 25, 255);
    font-weight: 600;
}
.service .item p{
    font-family: NunitoSans-Regular, AdobeInvisFont, Tahoma, MyriadPro-Regular;
    font-size: 15px;
    color: rgba(120, 120, 120, 255);
}
.service .item i{
    font-family: FontAwesome, AdobeInvisFont, Tahoma, MyriadPro-Regular;
    font-size: 48pt;
    color: rgba(101, 101, 101, 255);
}


/*Slider part Start*/

    #carousel {
    position: relative;
    width: 100%;
    background: #09f1d1;
    margin:0 auto;
    }
    
    #slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    }
    
    #slides ul {
    list-style: none;
    width:100%;
    height:250px;
    margin: 0;
    padding: 0;
    position: relative;
    }
    
     #slides li {
    width:100%;
    height:250px;
    float:left;
    text-align: center;
    position: relative;
    font-family:lato, sans-serif;
    }
   .quote-phrase, .quote-author {
    font-family:sans-serif;
    font-weight:300;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
    font-family:'Lato', Calibri, Arial, sans-serif;
    }
    
    .quote-phrase {
    height: 200px;
    font-size:24px;
    color:#FFF;
    font-style:italic;
    text-shadow:.5px 0px #b14943;  
    }
    
    .quote-marks {
    font-size:30px;
    padding:0 3px 3px;
    position:inherit;
    }
    
    .quote-author {
    font-style:normal;
    font-size:20px;
    color:#b14943;
    font-weight:400;
    height: 30px;
    }
    
    .quoteContainer, .authorContainer {
    display: table;
    width: 100%;
    }


/*Sticker part Start*/
.sticker{

    padding: 70px 0 50px 0;
}


/*Form part Start*/
.contact-form{
    padding: 5% 0 45% 0;
}
.contact-form h1{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 2.2em;
    color: rgba(29, 29, 29, 255);
    text-align: center;
    font-weight: 600;
}
.contact-form p{
    font-family: NunitoSans-Regular, AdobeInvisFont, Tahoma;
    font-size: 1.1em;
    color: rgba(120, 120, 120, 255);
    text-align: center;
    padding-top: 15px;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


/*Footer Part Start*/
.info{
    background: #000;
    padding: 6% 0 6% 0;
}
.info h3{
    font-family: Montserrat-Medium, AdobeInvisFont, Tahoma;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    padding-bottom: 10px;
}
.info p{
    font-family: NunitoSans-Regular, AdobeInvisFont, Tahoma, MyriadPro-Regular;
    font-size: 13.4px;
    color: rgba(188, 188, 188, 255);
}
.info ul li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding-bottom: 5px;
    font-size: 20px;
}
.info ul{
    padding-left: 60px;
}
.info .details{
    display: -webkit-box;
}

.info ul li a{
    text-decoration: none;
    color: #fff;
    padding-left: 50%;
}

.info ul li a:hover{
    color: #10C9C3;
}

.info h4{
    font-size: 1.2em;
    padding-bottom: 5px;
    color: #fff;
}
